:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #0f0f0f;
  background-color: #f6f6f6;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  margin: 0;
  padding-top: 10vh;
  display: flex;
  padding-left: 3%;
  padding-right: 3%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.background-image {
  background-image: url("assets/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.glass-button {
  background: rgba(255, 255, 255, 0.15);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px); /* Required for macOS (WebKit) */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  outline: none;
  display: inline-flex;
}

.glass-button:hover {
  background: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
}

.glassmorphism-bg {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 5px;
  margin-bottom: 2vh;
}

.half-transparent {
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  padding: 10px 20px;
  backdrop-filter: blur(10px);
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  color: #0f0f0f;
  transition: border-color 0.25s;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  outline: none;
}

.sp-ad {
  display: flex;
  justify-content: space-around;
}
